.navbarOuterWrap {
  padding: 0 10%;
}
.navbarWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  position: relative;
  max-height: 70px;
  transition: max-height 0.7s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 10;
}
.navbarPlaceholder {
  width: 100%;
  height: 70px;
  position: relative;
}
.navbarBrand {
}
.navbarItems {
  display: flex;
  align-items: center;
  font-family: "PlusJakartaSans";
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: -0.01em;
}
.navbarItem {
  padding: 5px;
  margin: 0 10px;
  cursor: pointer;
  color: rgba(4, 22, 66, 1);
  text-decoration: none;
  position: relative;
}
.navbarItemActive {
  border-bottom: 2px solid rgba(213, 25, 57, 1);
}
.navbarLoginBtn {
  width: 117px;
  height: 48px;
  border-radius: 6px;
  background: rgba(213, 25, 57, 1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.navbarToggle {
  background: rgba(213, 25, 57, 1);
  width: 35px;
  height: 30px;
  border-radius: 5px;
  padding: 3px 5px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}
.navbarToggleBar {
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 3px;
}

.gradeModal {
  width: 220px;
  height: 158px;
  padding: 5px 15px;
  border-radius: 12px;
  background-color: white;
}
.profileModal {
  width: 220px;
  height: 100px;
  padding: 6px 0;
  border-radius: 12px;
  background-color: white;
  position: absolute;
}
.gradeModalItem {
  height: 33%;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  color: rgba(81, 85, 94, 1);
  cursor: pointer;
  padding: 0 5px;
  text-decoration: none;
}
.gradeModalItem:hover {
  color: rgba(213, 25, 57, 1);
}
.gradeModalItemBordered {
  border-top: 1px solid rgba(229, 233, 242, 1);
  border-bottom: 1px solid rgba(229, 233, 242, 1);
}
.navbarProfileWrap {
  display: flex;
  position: relative;
  cursor: pointer;
}
.navbarProfileImageWrap {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.navbarProfileName {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: rgba(4, 22, 66, 1);
  padding-right: 3px;
  margin-bottom: 5px;
}
.navbarProfiledrop {
  margin-top: 1px;
  margin-left: 5px;
}
.navbarProfileGrade {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: rgba(81, 85, 94, 1);
}
.profileModalItem {
  display: flex;
  align-items: center;
  height: 40px;
  cursor: pointer;
  padding: 0 15px;
  text-decoration: none;
  color: rgba(81, 85, 94, 1);
}
.profileModalItem:hover {
  background-color: rgba(238, 237, 237, 0.177);
}
.profileModalIcon {
  margin-right: 10px;
}
.profileModalItemRight {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.01em;
  text-align: left;
  color: rgba(81, 85, 94, 1);
}

.mobnavWrap {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  justify-content: center;
  align-items: center;
  padding: 5px 4%;
  display: none;
  z-index: 9999999999999999999999999999;
}
.mobnavHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobnav_menu {
  width: 90%;
  position: absolute;
  top: 50px;
  transform: scaleY(0);
  transition: 0.3s;
  background-color: white;
  z-index: 9999999999999999999999999999;
}
.mobnavExpanded {
  transform: scaleY(1);
}
.submenuWrap {
  width: 100%;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}
.submenuWrap > * {
  background-color: rgba(237, 236, 236, 0.226);
}
.expandedSubmenu {
  max-height: 1000px;
  padding-bottom: 10px;
}
@media (max-width: 960px) {
  .mobnavWrap {
    display: flex;
  }

  .navbarOuterWrap {
    padding: 0 4%;
    display: none;
  }
  .navbarToggle {
    display: flex;
  }
  .navbarWrapper {
    flex-direction: column;
  }

  .navbarItems {
    flex-direction: column;
    padding-top: 30px;
    width: 100%;
  }
  .navbarItem {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbarLoginBtn {
    height: 40px;
    min-height: 40px;
    margin-top: 10px;
    padding-bottom: 5px;
    margin: 0 auto;
  }
  .navbarCollapsed {
    max-height: 60px;
    overflow: hidden;
  }
  .navbarExpanded {
    max-height: 580px;
    animation: expandOverflow 0.3s;
  }
  .navbarProfileOuterWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbarProfileWrap {
    margin-top: 20px;
  }
  .profileModalItem {
    justify-content: center;
  }
}

@keyframes expandOverflow {
  0% {
    overflow: hidden;
  }
  99.9% {
    overflow: hidden;
  }
  100% {
    overflow: auto;
  }
}
