.layoutWrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}
.navbarWrap {
  position: relative;
}
.contentWrap {
  flex: 1;
  overflow-y: auto;
  width: 100%;
  padding: 0 10%;
}
@media (max-width: 600px) {
  .contentWrap {
    padding: 0 4%;
  }
}
