.layoutWrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.navbarWrap {
  position: relative;
  z-index: 100000;
}

.contentWrap {
  flex: 1;
  overflow-y: auto;
  width: 100%;
  padding: 0 10%;
  padding-top: 60px;
  min-height: fit-content;
  position: relative;
}

@media (max-width: 600px) {
  .contentWrap {
    padding: 0 4%;
    padding-bottom: 20px;
    padding-top: 60px;
  }
}
