* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PlusJakartaSans";
}
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: lightgrey;
}

*::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
}
